@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700);
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,400,700,800,900');
/* ==========================================================================
Typography
========================================================================== */

p {
  font-size: 16px;
  line-height: 22.4px;
  color: #6c7279;
}

h1 {
  font-size: 65px;
  color: #2d3033;
}

h2 {
  font-size: 40px;
  color: #2d3033;
}

h3 {
  font-size: 28px;
  color: #2d3033;
  font-weight: 300;
}

h4 {
  font-size: 22px;
  color: #2d3033;
  font-weight: 400;
}

h5 {
  font-size: 14px;
  color: #2d3033;
  text-transform: uppercase;
  font-weight: 700;
}

.btn {
  background-color: #fff;
  border: 1px solid #e8ecee;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  color: #136176;
  font-size: 12px;
  font-weight: 600;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 0.8px;
}

.btn:hover,
.btn:focus {
  background-color: #136176;
  color: #fff;
}

.btn-large {
  padding: 15px 40px;
}

.btn-medium {
  padding: 15px;
}

/* ==========================================================================
	General Styles
========================================================================== */

a {
  color: #6c7279;
  letter-spacing: 0.8px;
}

a:hover,
a:focus {
  cursor: pointer;
  text-decoration: none;
  -moz-transition: background-color, color, 0.3s;
  -o-transition: background-color, color, 0.3s;
  -webkit-transition: background-color, color, 0.3s;
  transition: background-color, color, 0.3s;
}

body {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  color: #6c7279;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

.section {
  padding: 100px 0;
}

.no-padding {
  padding: 0;
}

.no-gutter [class*=col-] {
  padding-right: 0;
  padding-left: 0;
}

/* ==========================================================================
	$Header
========================================================================== */

#header {
  position: fixed;
  width: 100%;
  z-index: 999;
}

#header .header-content {
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  margin: 0 auto;
  max-width: 1170px;
  padding: 40px 0;
  width: 100%;
  -moz-transition: padding 0.3s;
  -o-transition: padding 0.3s;
  -webkit-transition: padding 0.3s;
  transition: padding 0.3s;
}

#header .logo {
  margin-top: -20px;
  margin-bottom: -20px;
  float: left;
}

#header.fixed {
  background-color: #38434c;
}

#header.fixed .header-content {
  border-bottom: 0;
  padding: 25px 0;
}

#header.fixed .nav-toggle {
  top: 18px;
}

.navigation.open {
  opacity: 0.9;
  visibility: visible;
  -moz-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.navigation {
  float: right;
}

.navigation li {
  display: inline-block;
}

.navigation a {
  color: rgba(255, 255, 255, 0.75);
  font-size: 13px;
  font-weight: 700;
  margin-left: 40px;
  text-transform: uppercase;
}

.navigation a:hover,
.navigation a.active {
  color: #136176;
}

.nav-toggle {
  display: none;
  height: 44px;
  overflow: hidden;
  position: fixed;
  right: 5%;
  text-indent: 100%;
  top: 32px;
  white-space: nowrap;
  width: 44px;
  z-index: 99999;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.nav-toggle:before,
.nav-toggle:after {
  border-radius: 50%;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  -webkit-transition-property: -webkit-transform;
  transition-property: transform;
}

.nav-toggle:before {
  background-color: #136176;
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.nav-toggle:after {
  background-color: #136176;
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -webkit-transform: scale(0);
  transform: scale(0);
  -moz-transition-duration: 0s;
  -o-transition-duration: 0s;
  -webkit-transition-duration: 0s;
  transition-duration: 0s;
}

.nav-toggle span {
  background-color: #fff;
  bottom: auto;
  display: inline-block;
  height: 3px;
  left: 50%;
  position: absolute;
  right: auto;
  top: 50%;
  width: 18px;
  z-index: 10;
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.nav-toggle span:before,
.nav-toggle span:after {
  background-color: #fff;
  content: "";
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-transition: -moz-transform 0.3s;
  -o-transition: -o-transform 0.3s;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
}

.nav-toggle span:before {
  -moz-transform: translateY(-6px) rotate(0deg);
  -ms-transform: translateY(-6px) rotate(0deg);
  -webkit-transform: translateY(-6px) rotate(0deg);
  transform: translateY(-6px) rotate(0deg);
}

.nav-toggle span:after {
  -moz-transform: translateY(6px) rotate(0deg);
  -ms-transform: translateY(6px) rotate(0deg);
  -webkit-transform: translateY(6px) rotate(0deg);
  transform: translateY(6px) rotate(0deg);
}

.nav-toggle.close-nav:before {
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -webkit-transform: scale(0);
  transform: scale(0);
}

.nav-toggle.close-nav:after {
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
}

.nav-toggle.close-nav span {
  background-color: rgba(255, 255, 255, 0);
}

.nav-toggle.close-nav span:before,
.nav-toggle.close-nav span:after {
  background-color: #fff;
}

.nav-toggle.close-nav span:before {
  -moz-transform: translateY(0) rotate(45deg);
  -ms-transform: translateY(0) rotate(45deg);
  -webkit-transform: translateY(0) rotate(45deg);
  transform: translateY(0) rotate(45deg);
}

.nav-toggle.close-nav span:after {
  -moz-transform: translateY(0) rotate(-45deg);
  -ms-transform: translateY(0) rotate(-45deg);
  -webkit-transform: translateY(0) rotate(-45deg);
  transform: translateY(0) rotate(-45deg);
}

/* ==========================================================================
	$Banner
========================================================================== */

.banner {
  background: #38434c url(../images/banner2.png);
  background-position: center top;
  background-repeat: no-repeat;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  min-height: 750px;
}

.banner-overlay:before {
  position: absolute;
  content: " ";
  top: -60px;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 0;
  background-color: rgba(56, 67, 76, 0.7);
}

.banner-text {
  padding-top: 25%;
}

.banner-text h1 {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

.banner-text p {
  color: #fff;
  font-size: 22px;
  font-weight: 300;
  line-height: 1.5;
  margin-bottom: 80px;
}

/*about *******************************/

.about {
  width: 100%;
  font-size: 16px;
  /* background-image: url(../images/about_background.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-background-size: cover;
	        background-size: cover; */
}

.about:after {
  content: '';
  display: table;
  clear: both;
}

.about__text {
  padding-top: 50px;
  padding-right: 130px;
  padding-bottom: 100px;
}

.text__par {
  margin-top: 40px;
  line-height: 28px;
}

.text__button {
  display: inline-block;
  padding: 13px 40px;
  margin-top: 70px;
  color: rgb(51, 51, 51);
  font-weight: 700;
  text-decoration: none;
  border: 1px solid #136176;
  -webkit-transition: background-color .3s;
  -o-transition: background-color .3s;
  transition: background-color .3s;
}

.text__button:hover {
  color: #fff;
  text-decoration: none;
  background-color: #136176;
}

.text__button:focus {
  outline: none;
}

/* ==========================================================================
	$Teams
========================================================================== */

.time__header {
  margin-bottom: 50px;
}

.person {
  max-width: 270px;
}

.person-content {
  margin-top: 20px;
}

.person h4 {
  font-weight: 400;
}

.person h5 {
  color: #136176;
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 20px;
}

.social-icons {
  margin-top: 30px;
}

.social-icons li {
  float: none;
}

/*clients *******************************/

.clients-and-contacts {
  position: relative;
}

.clients {
  background-color: #38434c;
  color: #fff;
  height: 550px;
}

.clients__header {
  padding-top: 70px;
  padding-bottom: 50px;
  border-bottom: 1px solid #a1a1a1;
}

.clients-title {
  color: #a1a1a1;
}

.clients__header:after {
  content: '';
  display: table;
  clear: both;
}

.clients__controls {
  position: relative;
  top: 60px;
  text-align: right;
}

.clients__arrow {
  width: 32px;
  display: inline-block;
  width: 32px;
  color: #fff;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  cursor: pointer;
  -webkit-transition: color .3s;
  -o-transition: color .3s;
  transition: color .3s;
}

.clients__arrow:hover {
  color: #136176;
}

.clients__arrow_back {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.clients__arrow_gray {
  color: #777;
  cursor: initial;
}

.clients__arrow__line {
  width: 100%;
  border-top: 1px solid;
}

.clients__arrow__line-short {
  width: 50%;
  border-top: 1px solid;
  margin-left: auto;
}

.clients__arrow__line-up {
  -webkit-transform-origin: right top;
  -ms-transform-origin: right top;
  transform-origin: right top;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  margin-bottom: -1px;
}

.clients__arrow__line-down {
  -webkit-transform-origin: right bottom;
  -ms-transform-origin: right bottom;
  transform-origin: right bottom;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  margin-top: -1px;
}

/*contact *******************************/

.contact:after {
  content: '';
  display: table;
  clear: both;
}

.contact__inf {
  margin-top: 150px;
  margin-bottom: 50px;
  font-size: 16px;
  color: rgb(51, 51, 51);
}

.contact__text {
  margin-bottom: 55px;
  line-height: 28px;
}

.contact__email,
.contact__email:hover,
.contact__email:focus {
  color: #136176;
  text-decoration: none;
}

.contact__address {
  margin-bottom: 55px;
  font-style: normal;
  line-height: 28px;
}

.contact__tel,
.contact__tel:hover,
.contact__tel:focus {
  color: rgb(51, 51, 51);
  text-decoration: none;
}

.social {
  margin-bottom: 80px;
}

.social__link-and-icon {
  display: inline-block;
  margin-right: 20px;
  font-weight: 600;
}

.social__link-and-icon:last-child {
  margin-right: 0;
}

.social__link-and-icon:hover .social__link_underline {
  width: 100%;
}

.social__link-and-icon:hover .icon {
  color: #136176;
}

.social__link-and-icon:hover .social__link {
  color: #136176;
}

.social__link {
  position: relative;
  -webkit-transition: border-bottom .3s, color .3s;
  -o-transition: border-bottom .3s, color .3s;
  transition: border-bottom .3s, color .3s;
}

.icon {
  -webkit-transition: color .3s;
  -o-transition: color .3s;
  transition: color .3s;
}

.social__link,
.social__link:hover,
.social__link:focus {
  margin-left: 5px;
  color: rgb(51, 51, 51);
  text-decoration: none;
}

.social__link_underline {
  width: 0%;
  display: inline-block;
  border-bottom: 2px solid #136176;
  position: absolute;
  bottom: -4px;
  left: 0;
  -webkit-transition: width .3s;
  -o-transition: width .3s;
  transition: width .3s;
}

/* Contact Form */

#wrapper {
  float: left;
  margin-left: -20px;
}

.form .text-input,
.form .textarea,
.form .label,
.form .button {
  padding: 1em 1.5em;
  outline: none;
  line-height: normal;
  border: 1px solid transparent;
  border-radius: 0;
  font-size: 16px;
}

.form .text-input,
.form .textarea {
  font: inherit;
  line-height: normal;
  width: 100%;
  box-sizing: border-box;
  display: block;
  padding-left: 0;
  border-bottom-color: rgba(0, 0, 0, 0.3);
  background: transparent;
  outline: none;
  color: black;
}

.form .text-input:placeholder,
.form .textarea:placeholder {
  color: rgba(0, 0, 0, 0.7);
}

.form .text-input:-webkit-autofill,
.form .textarea:-webkit-autofill {
  box-shadow: 0 0 0px 1000px white inset;
  border-top-color: white;
  border-left-color: white;
  border-right-color: white;
}

.form .error.text-input,
.form .error.textarea,
.error .form .text-input,
.form .error .text-input,
.error .form .textarea,
.form .error .textarea {
  border-color: transparent transparent red transparent;
}

.form:not(.has-floated-label) .text-input:active,
.form:not(.has-floated-label) .textarea:active,
.form:not(.has-floated-label) .text-input:focus,
.form:not(.has-floated-label) .textarea:focus {
  border-color: transparent transparent black transparent;
}

.form .label {
  position: absolute;
  z-index: 10;
  pointer-events: none;
  padding-left: 0;
}

.form .label {
  top: 0;
  left: 0;
  color: rgba(0, 0, 0, 0.7);
  transition: color 0.3s;
}

.active .form .label,
.form .active .label {
  font-size: 0.9em;
  line-height: 1;
  font-weight: 600;
  text-transform: uppercase;
  padding: 0;
  color: rgba(0, 0, 0, 0.7);
  background: white;
}

.focus .form .label,
.form .focus .label {
  color: black;
}

.form.has-floated-label .field:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  border-bottom: 1px solid black;
  transition: width 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.form.has-floated-label .field.focus:after {
  width: 100%;
}

.form .button {
  font: inherit;
  line-height: normal;
  cursor: pointer;
  background-color: #2d3033;
  color: white;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.1428571429em;
}

.form .button:hover,
.form .button:focus,
.form .button:active {
  color: #2d3033;
  background: white;
  border: 1px solid #2d3033;
}

.form .button:active {
  position: relative;
  top: 1px;
  left: 1px;
}

.form {
  max-width: 50em;
  margin: 0 auto;
  padding: 1em 2em;
  box-sizing: border-box;
  overflow: hidden;
}

.form .field {
  position: relative;
  width: 100%;
  margin-bottom: 1.5em;
  float: left;
}

@media screen and (min-width: 40em) {
  .form .field.half {
    width: calc(50% - 2em);
    margin-right: 2em;
  }
  .form .field.half+.half {
    margin-left: 2em;
    margin-right: 0;
  }
}

.form .field:last-child {
  float: right;
  width: auto;
}

.form .textarea {
  max-width: 100%;
}

svg path {
  fill: black;
}

/* Client logos *******************************/

.clients-logos {
  padding: 50px 0;
  background-color: #136176;
  position: absolute;
  top: 45%;
  left: 0;
  right: 0;
  margin-top: -230px;
}

.clients-logos:after {
  content: '';
  display: table;
  clear: both;
}

.clients-logos__wrapper {
  text-align: center;
}

.clients-logos__image {
  width: 33.33%;
  max-width: 370px;
  padding: 0 15px;
  -webkit-filter: opacity(.5);
  filter: opacity(.5);
  cursor: pointer;
  -webkit-transition: -webkit-filter .3s;
  transition: -webkit-filter .3s;
  -o-transition: filter .3s;
  transition: filter .3s;
  transition: filter .3s, -webkit-filter .3s;
}

.clients-logos__image:hover {
  -webkit-filter: opacity(1);
  filter: opacity(1);
}

/* ==========================================================================
	$Footer
========================================================================== */

.footer {
  text-align: center;
}

.footer-top {
  background-color: #136176;
  padding-top: 50px;
}

.footer-bottom {
  background-color: #136176;
  padding: 20px 0;
}

.footer .footer-col {
  margin-bottom: 80px;
}

.footer h5 {
  color: #fff;
}

.footer h5 {
  margin-bottom: 20px;
}

.footer p {
  color: rgba(255, 255, 255, 0.5);
}

.footer a {
  color: #fff;
}

.footer a:hover {
  color: #136176;
}

.footer .footer-share {
  margin-top: 0;
}

.footer .footer-share li {
  display: inline-block;
  float: none;
}

.footer .footer-share a {
  border-width: 2px;
  color: #fff;
}

/* ==========================================================================
	$Utilities
========================================================================== */

.animated {
  visibility: visible;
}

.margin-bottom-30 {
  margin-bottom: 30%;
}

.margin-bottom-40 {
  margin-bottom: 40%;
}