@media screen and (min-width: 1900px) {
  .banner-text {
    padding-top: 35%;
  }
  .banner-text h1 {
    font-size: 92px;
  }
  .banner-text p {
    font-size: 32px;
  }
  .clients__controls {
    margin-top: -20px;
  }
  #wrapper {
    width: 800px;
  }
  .contact__address {
    width: 650px;
  }
  .contact__inf {
    margin-left: -100px;
  }
  .container {
    width: 1520px;
  }
}

/* Ipad pro */

@media screen and (min-width: 1300px) and (max-width: 1380px) {
  .banner-text {
    padding-top: 35%;
  }
  .banner-text h1 {
    font-size: 82px;
  }
  .banner-text p {
    font-size: 24px;
  }
  .banner {
    min-height: 1024px;
  }
  #wrapper {
    width: 550px;
    margin-left: -35px;
  }
  .contact__address {
    width: 550px;
  }
  .contact__inf {
    margin-left: -60px;
  }
}

@media screen and (min-height: 767px) and (max-height: 800px) {
  .banner {
    min-height: 768px;
  }
  .banner-text {
    padding-top: 25%;
  }
  .banner-text h1 {
    font-size: 72px;
  }
  .banner-text p {
    font-size: 20px;
  }
  .clients__controls {
    margin-top: -30px;
  }
}

@media screen and (min-height: 599px) and (max-height: 650px) {
  .banner {
    min-height: 600px;
  }
  .banner-text {
    padding-top: 20%;
  }
  .clients__controls {
    margin-top: -100px;
  }
}

@media screen and (max-width: 1024px) {
  #header .header-content {
    width: 90%;
  }
  .nav-toggle {
    display: block;
  }
  .navigation {
    position: fixed;
    background-color: #000;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 99999;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.5s, visibility 0s 0.5s;
    transition: opacity 0.5s, visibility 0s 0.5s;
  }
  .navigation .primary-nav {
    position: relative;
    top: 45%;
    -moz-transform: translateY(-45%);
    -ms-transform: translateY(-45%);
    -webkit-transform: translateY(-45%);
    transform: translateY(-45%);
  }
  .navigation li {
    display: block;
    margin-bottom: 20px;
  }
  .navigation a {
    display: block;
    font-size: 25px;
    margin: 0;
    text-align: center;
  }
  .banner-text {
    padding-top: 30%;
  }
  .banner-text h1 {
    font-size: 42px;
  }
  .banner-text p {
    font-size: 18px;
  }
  .flex-control-nav {
    bottom: 20px;
  }
  .clients__controls {
    margin-top: -100px;
  }
}

/* Ipad */

@media screen and (max-width: 768px) {
  .banner-text {
    padding-top: 45%;
  }
  .banner-text h1 {
    font-size: 65px;
  }
  .banner-text p {
    font-size: 25px;
  }
  .banner {
    min-height: 1024px;
  }
  .flexslider {
    padding-bottom: 80px;
  }
  .flex-control-nav {
    width: 100%;
  }
  .footer .footer-col {
    margin-bottom: 50px;
  }
  .clients__controls {
    margin-top: -100px;
  }
  .map {
    display: none;
  }
  .contact__inf {
    margin-top: 100px;
    width: 750px;
  }
}

@media screen and (max-width: 640px) {
  .banner-text {
    padding-top: 35%;
  }
  .clients__controls {
    margin-top: -100px;
  }
  #contato {
    margin-top: -80px;
  }
  .map {
    display: none;
  }
  .clients-logos {
    left: 0;
    right: 0;
    margin-top: -350px;
  }
}

/* Iphone */

@media screen and (max-width: 480px) {
  .banner-text {
    padding-top: 55%;
  }
  .banner-text h1 {
    font-size: 32px;
  }
  .banner-text p {
    font-size: 16px;
  }
  .banner {
    min-height: 736px;
    background: linear-gradient(rgba(56, 67, 76, 0.7), rgba(56, 67, 76, 0.7)), url(../images/icons/banner@i.png);
  }
  .contact__inf {
    width: 390px;
    margin-left: 10px;
  }
  .clients-logos {
    top: 50%;
    padding: 30px 0;
  }
  h3 {
    font-size: 20px;
  }
}

/* Iphone SE */

@media screen and (max-width: 320px) and (max-height: 569px) {
  .banner-text {
    padding-top: 50%;
  }
  .banner-text p {
    font-size: 14px;
  }
  .banner {
    min-height: 568px;
    background: linear-gradient(rgba(56, 67, 76, 0.7), rgba(56, 67, 76, 0.7)), url(../images/icons/banner@se.png);
  }
  .contact__inf {
    width: 300px;
  }
}

/* Ipad Pro em pé */

@media screen and (max-width: 320px) and (min-height: 833px) {
  .banner-text {
    padding-top: 80%;
  }
  .banner-text p {
    font-size: 14px;
  }
  .banner {
    min-height: 834px;
    background: linear-gradient(rgba(56, 67, 76, 0.7), rgba(56, 67, 76, 0.7)), url(../images/icons/banner@834.png);
  }
}

@media screen and (min-width: 40em) {
  .form .field.half {
    width: calc(50% - 2em);
    margin-right: 2em;
  }
  .form .field.half+.half {
    margin-left: 2em;
    margin-right: 0;
  }
}